<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Dog - Contato
    </title>
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body>
    <div class="modal" id="modal">
        <div class="close">
            <button onclick="modalOff()">X</button>
        </div>
        <div class="message">
            <p>Obrigado pelo contato!.</p>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <h1>Happy Dog</h1>
        </div>
        <div class="menu">
            <ul>
                <a href="/">
                    <li>HOME</li>
                </a>
                <a href="/acessorios" target="_blank">
                    <li>ACESSÓRIOS</li>
                </a>
                <a href="/brinquedos" target="_blank">
                    <li>BRINQUEDOS PARA CÃES</li>
                </a>
                <a href="/camas" target="_blank">
                    <li>CAMAS</li>
                </a>
                <a href="/contato" target="_blank">
                    <li>CONTATO</li>
                </a>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-title">
                <h1>Fale Conosco</h1>
            </div>
            <div class="form">
                <div class="form-inputs">
                    <div class="name-input"><label for="name">Name</label>
                        <input type="text">
                    </div>
                    <div class="email-input"><label for="email">Email</label>
                        <input type="email">
                    </div>
                </div>
                <div class="form-textarea">
                    <label for="message">Mensagem</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <button onclick="modal()">ENVIAR</button>
            </div>
        </div>
        <div class="footer">
            <div class="footer-logo">
                <h1>Happy Dog</h1>
            </div>
            <div class="footer-options">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a>
                    <a href="/acessórios" target="_blank">
                        <li>ACESSÓRIOS</li>
                    </a>
                    <a href="/brinquedos" target="_blank">
                        <li>BRINQUEDOS PARA CÃES</li>
                    </a>
                    <a href="/camas" target="_blank">
                        <li>CAMAS</li>
                    </a>
                    <a href="/contato" target="_blank">
                        <li>CONTATO</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
</body>

</html>